# Ex No. 2.a   Data Cleaning and Manipulation using NumPy

Problem Statement: Clean the dataset and prepare it for analysis.
Objective: To understand and apply data cleaning techniques using NumPy to ensure the dataset is suitable for analysis. This involves handling missing values, removing duplicates, and  normalizing the data.
Scenario:
You are a data scientist at a company that has recently collected data from a survey of employees. The dataset contains employee IDs, their salaries, and their years of experience. However, the data is incomplete and contains some inconsistencies. Your task is to clean this dataset to make it suitable for further analysis.
Dataset: A sample dataset with three columns: emp_id, salary, and experience. The dataset includes some missing values and duplicates.
Initial Dataset:
Emp_ID	Salary	Experience
101	50000	5
102	60000	6
103	nan	7
104	70000	8
105	50000	5
106	50000	nan
107	80000	10
108	60000	6
109	75000	nan
101	50000	5

Tasks to be Performed:

1.	Load the dataset into a NumPy array.
2.	Identify and handle missing values.
3.	Remove duplicate entries.
4.	Normalize or standardize the data using Min-Max Normalization.
Hints:
    1.	Represent nan as np.nan while converting data to np array

In [ ]:
import numpy as np
data1 = np.array([101,102,103,104,105,106,107,108,109,101])
data2 = np.array([50000,60000,np.nan,70000,50000,50000,80000,60000,75000,50000])
data3 = np.array([5,6,7,8,5,np.nan,10,6,np.nan,5])
print(np.isnan(data2))
print(np.isnan(data3))
print(np.nanmean(data2))
print(np.nanmean(data3))
print(np.unique(data2))

[False False  True False False False False False False False]
[False False False False False  True False False  True False]
60555.555555555555
6.5
[50000. 60000. 70000. 75000. 80000.    nan]